.active{
    color: green;
    font-weight: bold;
}

.completed{
    color: gray;
    text-decoration: line-through;
    font-style: italic;
}

.button-normal{
    border: 1px solid white;
}

.button-active{
    border: 1px solid pink;
}